.imgContent2{
    position: absolute;  
    top: 1608px;
    width: 40%;
}
.imgContent2 img{
    width: 620px;
}
.contentC{
    position: absolute;
    top: 1608px;
    left: 542px;
    width: 60%;
}

.contentC h2{
    font-family: 'URW Gothic L', sans-serif;
    margin-left: 325px;
    color: #304061;
    font-weight:800;
    font-size: 38px;
    width: 320px;
}

.contentC p{
    width: 400px;
    padding-top: 10px;
    padding-left: 325px;
    font-family:'Century Gothic',futura,'URW Gothic L',Verdana,sans-serif;
    font-weight: 600;
    color: grey;
    font-size: 18px;
    width: 350px;
    text-align: justify;
}
.recomendaciones_space{
    width: 50%;
    display: inline-block;
    margin-left: 50px;
}

.card-horizontal{
    display: flex;
    align-items: center;
    margin-left: 270px;
    font-family:'Century Gothic',futura,'URW Gothic L',Verdana,sans-serif;
    font-weight: 800;
    color: #304061;
    justify-content: space-between;
    width: 350px;
    height: 50px;
    border: 2px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    margin-bottom: 30px;
}

.card-horizontal i{
    color: #3451d3;
    margin-left: 10px;
    margin-right: 10px;
}

.card-horizontal h3{
    font-size: small;
    font-family:'Century Gothic',futura,'URW Gothic L',Verdana,sans-serif;
    color: #1F3E72;
    font-weight: lighter;
    padding-left: -10px;
}